{# [module]/templates/clashofclans-clan-tag.html.twig #}
{{ attach_library('core/drupal.ajax') }}
<article>
<div style="float: right">
  <img src="{{ clan.badgeUrls.small }}" width="70" height="70" />
  <br />
  🏆{{ clan.clanPoints }}
  <br />
  ⚔️{{ clan.clanVersusPoints }}
  <div>warFrequency: {{ clan.warFrequency}}</div>
  <div>Warlog:</div>
  <ul class="links">
    <li>warWins: {{ clan.warWins}}</li>
    <li>warWinStreak: {{ clan.warWinStreak}}</li>
    {% if clan.isWarLogPublic %}
    <li>warTies: {{ clan.warTies}}</li>
    <li>warLosses: {{ clan.warLosses}}</li>
    <li><a href="{{ url('<front>') }}clashofclans-clan/tag/{{ clan.tag|url_encode }}/warlog">{{ 'War log'|t }}</a></li>
    <li><a href="{{ url('<front>') }}clashofclans-clan/tag/{{ clan.tag|url_encode }}/currentwar">{{ 'Current war'|t }}</a></li>
    <li><a href="{{ url('<front>') }}clashofclans-clan/{{ nid }}/currentwar/leaguegroup">{{ 'League group'|t }}</a></li>
    {% endif %}
  </ul>
  <div>warLeague: {{ clan.warLeague.name}}</div>
</div>
<p>{{ clan.description}}</p>
<div class="clashofclans-labels">
{% for label in clan.labels %}
  <img title="{{ label.name }}" src="{{ label.iconUrls.small }}" width="64" height="64" />
{% endfor %}
</div>
<div>Tag: {{ clan.tag}}</div>
<div>Location: {{ location }}</div>
<div>Language: {{ clan.chatLanguage.name }}</div>
<div>Type: {{ clan.type}}</div>
<div>requiredTrophies: {{ clan.requiredTrophies}}</div>
<div>requiredTownhallLevel: {{ clan.requiredTownhallLevel}}</div>
<div>requiredVersusTrophies: {{ clan.requiredVersusTrophies}}</div>
<div>members: {{ clan.members}} </div>
<div>memberlist: &gt;&gt; <a href="{{ url('<front>') }}clashofclans-clan/tag/{{ clan.tag|url_encode }}/memberlist/nojs">The best rank.</a></div>
</article>

<div class='member-list'>{{ member_list }}</div>
